<div class="container">
    <h2 class="titulo azul">{{titulo}}</h2>

    <form action="" class=" form-documentos input-group mb-3">

        <div class="div-input">
            <input (input)="filtrarDocumentos($event.target)" name="filtroLista" type="text"
                class="form-control pesquisa-documento" placeholder="Sua busca"
                aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text img-spam">
                <img src="../../../../assets/imagens/down-arrow.png" alt="">
            </span>
        </div>

        <div class="div-select">
            <select class="form-select" aria-label="Default select example" (change)="onChangeConcessao($event)">
                <option selected [ngValue]="undefined">Concessao</option>
                <option *ngFor="let concessao of concessaoSelect" [value]="concessao?.id">{{concessao?.nome}}</option>
            </select>
        </div>
        <div class="div-select">
            <select class="form-select" aria-label="Default select example" (change)="onChangeTipo($event)">
                <option selected [ngValue]="undefined">Tipo</option>
                <option *ngFor="let tipo of tipoSelect" [value]="tipo?.id">{{tipo?.nome}}</option>
            </select>
        </div>
    </form>


    <table class="table">
        <thead class="">
            <tr class="tr-table-info">
                <th>ID
                    <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">
                </th>
                <th>Concessão
                    <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

                </th>
                <th>Tipo
                    <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

                </th>
                <th>Documento
                    <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

                </th>
                <th>Descrição
                    <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

                </th>
                <th>Data atualização
                    <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

                </th>
                <th>Criador
                    <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

                </th>
                <th>opções
                    <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

                </th>
            </tr>
        </thead>
        <tbody *ngIf="documentos && documentos?.length" else #templateSemDocumentos>
            <tr *ngFor="let documento of documentos">
                <th>{{documento?.id}}</th>
                <th>{{documento?.concessao?.sigla}}</th>
                <th>{{documento?.tipo?.sigla}}</th>
                <th>{{documento?.abreviacao}}</th>
                <th class="th-descricao">{{documento?.descricao}}</th>
                <th>2404203</th>
                <th>{{documento?.usuario?.nome}}</th>
                <th class="th-opções">
                    <button class="th-btn bac-azul " (click)="vizualizarEvento(documento?.id)">
                        <img class="img-white" src="../../../../assets/imagens/view.png" alt="">
                    </button>


                    <button *ngIf="mode !== 'todos'" class="th-btn bac-azul" (click)="editarDocumento(documento.id)">
                        <img class="img-white" src="../../../../assets/imagens/edit.png" alt="">
                    </button>
                </th>
            </tr>
        </tbody>
        <tfoot *ngIf="!documentos">
            <tr>
                <td colspan="8" class="text-center"> Não há nenhum documento para listar</td>
            </tr>
        </tfoot>
    </table>

    <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>

</div>