
<div class="div_main" 
[ngStyle]="{'background-image' : 'url(../../../../assets/backgrounds/backgrounds-azul.png)'}" 
*ngIf="showMenu() ">
    <div class="container">
        <section>
            <div class="content_header_inicio">
                <i class=""><img class="img-icon-header" src="../../../assets/imagens/iconHeader.png" alt=""> </i>
                <div class="div_titulo">
                    <h2 style="margin: 0px; height: 20px;">GESTOR</h2>
                    <h2 style="margin: 0px; ">GESTOR DE DOCUMENTOS</h2>
                </div>
                <div class="barra"></div>
                <div class="content_header_two">
                    <h3 style="margin: 0px;">Dashboard</h3>
                    <p>login > Dashboard</p>
                </div>

            </div>
           
            <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                <button class="btn-dropdown" id="button-basic "  dropdownToggle type="button"  style="color: white;"
                   class=" dropdown-toggle"
                   aria-controls="dropdown-basic">
                   <img class="img-white" src="../../../assets/imagens/Person_icon_BLACK-01.svg.png" style="height: 30px;" alt="">
                   Eu <span class="caret"></span>
                   <img class="img-white " src="../../../assets/imagens/down-arrow.png" style="height: 30px;" alt="">
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                   role="menu" aria-labelledby="button-basic">
                   <li role="menuitem"><a class="dropdown-item" (click)="logout()">Sair</a></li>
                   <li *ngIf="user?.role === 'admin'"class="divider dropdown-divider"></li>
                   <li *ngIf="user?.role === 'admin'"  role="menuitem"><a class="dropdown-item" (click)="mudarModoAdmin()">
                    <img src="../../../../assets/imagens/engrenagem.png" class="img-admin" alt="">
                    Configurações</a>
                   </li>
                </ul>
             </div>
        </section>
    </div>

</div>