<div class="container">
  <div class="header-tabela">
    <h2 class="azul">Concessoes</h2>

    <div class="div-btn">
      <button class="azul btn btn-header" routerLink="/admin/concessoes/criar">
        <img class="" src="../../../../assets/imagens/add.png" alt="">
        <p class="azul p criar-doc">Criar Concessao</p>
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id
          <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

        </th>
        <th scope="col">Concessão
          <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

        </th>
        <th scope="col">Sigla
          <img src="../../../../assets/imagens/double-arrow-vertical-symbol.png" class="th-img" alt="">

        </th>
        <th scope="col" style="display: flex; justify-content:end; padding-right: 20px;">açoes</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let c of concessoes">
        <th scope="row">{{c?.id}}</th>
        <td>{{c?.nome}}</td>
        <td>{{c?.sigla}}</td>
        <td style="display: flex; justify-content:end;">
          <button class="td-btn btn btn-primary bac-azul" (click)="editarConcessao(c.id)">
            <img src="../../../../assets/imagens/edit.png" style="margin-left: 0;" class="icon" alt="">
            Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
      nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>